body {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}

body button {
  color: #fff;
  background-color: #337ab7;
  border: none;
  padding: 8px 20px;
}
body ul.button-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0px;
}
body ul.button-list li {
  padding: 0;
  margin-bottom: 5px;
}
body ul.button-list li a div {
  background-color: #337ab7;
  color: #fff;
  padding: 8px 20px;
  width: 100;
}
body ul.button-list li a:hover {
  text-decoration: none;
}
body input {
  padding: 6px 12px;
  border: 1px solid lightgray;
  outline: none;
}
body input:focus,
body input:active {
  outline-width: 1px;
  outline-width: 2px;
  outline-color: #03A9F4;
}
body .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}
body .menu ul {
  list-style: none;
  padding: 0;
}
body .menu ul li {
  display: inline-block;
  margin-right: 10px;
}
body input:-webkit-autofill,
body textarea:-webkit-autofill,
body select:-webkit-autofill {
  background-color: white;
  background-image: none;
  color: black;
}
body button {
  border-radius: 0;
}
body .btn-primary {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
body p input[type="text"],
body p input[type="password"],
body p input[type="email"] {
  display: block;
  width: 100%;
}