.glyphicon-refresh-animate {
  -animation: spin 1.25s infinite linear;
  -webkit-animation: spin 1.25s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes blink {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
.cd-welcome-container {
  width: 600px;
}
.cd-welcome-container form {
  width: 450px;
}
.cd-welcome-container form.large {
  width: 600px;
}
#login-form {
  position: absolute;
  background: white;
  padding: 60px;
  width: 600px;
  box-shadow: 3px 3px 5px 1px;
}
#login-form form {
  padding-top: 20px;
}
.cd-title h1 {
  font-size: 28px;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3vh;
  color: white;
}
.cd-title .subtitle {
  font-size: 16px;
}
.cd-welcome {
  color: white;
  background-color: #8bc34a;
}
.cd-welcome .section.cd-green {
  background: url(static/css/pattern-green.png) repeat 0 0;
}
.cd-welcome .section.cd-green .cd-login {
  position: absolute;
  top: 20px;
  right: 20px;
}
.cd-welcome .section.cd-green .cd-login button {
  background-color: #fbd311;
  color: #373737;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 4px;
}
.cd-welcome #intro-video {
  border: 10px solid white;
  border-radius: 10px;
}
.cd-welcome .cd-info a {
  color: white;
  margin-right: 20px;
}
.cd-welcome .cd-section .cd-section-container {
  max-width: 800px;
  background: white;
  padding: 70px 70px;
  border-radius: 4px;
  margin: auto;
}
.cd-welcome .fp-slidesNav.fp-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cd-welcome form {
  padding-top: 0;
}
.cd-welcome .cd-stats {
  font-size: 3em;
  font-style: italic;
  padding: 10px;
  text-align: center;
}
.cd-welcome .cd-stats span {
  margin-right: 10px;
}
button.next-button {
  color: #76b83f;
  position: absolute;
  bottom: 0;
  border-radius: 0;
  width: 100px;
  opacity: 0.5;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
button.next-button:focus:active {
  outline: none;
}
button.next-button:focus {
  outline: none;
}
button:focus {
  outline: none;
}
.cd-frame {
  height: 80%;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-height: 800px) {
  .cd-frame {
    height: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .cd-login button .text {
    display: none;
  }
}
@media screen and (max-width: 850px) and (max-height: 800px) {
  .cd-frame {
    padding-top: 50px;
  }
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  background-color: white;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: white;
}
.cd-survey h3 {
  font-family: Karla;
  font-size: 24px;
  color: #3d3d3d;
}
.cd-survey p {
  font-family: Karla;
  color: #3D3D3D;
  opacity: 0.7;
  font-size: 20px;
  margin-bottom: 0;
}
#survey-results .chart {
  background: white;
  max-width: 800px;
  margin: auto;
  border-radius: 4px;
  padding: 60px;
}
#survey-results h3 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}
#survey-results .arrows {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#survey-results .arrows .btn {
  height: 40px;
  width: 40px;
  color: white;
  background-color: #1976d2;
  margin-left: 5px;
  cursor: pointer;
  z-index: 10;
}
#survey-results .arrows .btn .glyphicon {
  font-size: 10px;
}
#survey-results .arrows .btn:active {
  border-style: solid;
}
.cd-container {
  width: 100%;
  max-width: 450px;
}
form {
  padding-top: 10vh;
}
form label[for="id_login"],
form label[for="id_password"],
form label[for="id_email"],
form label[for="id_username"],
form label[for="id_password1"] {
  display: none;
}
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="submit"],
form button[type="submit"] {
  color: #666;
  display: block;
  width: 100%;
  margin-bottom: 12px;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  height: 60px;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  font-size: 14px;
  line-height: 30px;
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="submit"]:focus,
form button[type="submit"]:focus {
  border: 1px solid #18a0fb;
  outline: none;
}
form input[type="submit"] {
  font-weight: 300;
  font-size: 18px;
  background-color: #18a0fb;
  border-color: #18a0fb;
  cursor: pointer;
  border-radius: 3px;
  color: white;
}
form input[type="submit"]:hover {
  background-color: #1978c5;
}
form button.btn.btn-lg {
  width: 100%;
  font-weight: 300;
  font-size: 20px;
  height: 60px;
  background-color: #18a0fb;
  border-color: #18a0fb;
  cursor: pointer;
  border-radius: 3px;
  color: white;
}
form button.btn.btn-lg:hover {
  background-color: #1978c5;
}
form button.btn.btn-lg:focus {
  outline: none;
}
form label {
  font-weight: 300;
}
form ul.button-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0px;
}
form ul.button-list li {
  font-weight: 300;
  margin-bottom: 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: #666;
  border-radius: 3px;
  border: 1px solid #aaa;
  width: 100%;
  height: 60px;
  background-color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form ul.button-list li a {
  text-decoration: none;
  color: #666;
}
form ul.button-list li a:hover,
form ul.button-list li a:hover:visited {
  text-decoration: none;
  color: #666;
}
form ul.button-list li:hover {
  background-color: #efefef;
  box-shadow: inherit;
}
form ul.button-list li span.title {
  margin-left: 5px;
}
form ul.errorlist {
  list-style: none;
  padding-left: 10px;
}
form .cd-footer {
  background-color: #f0f0f0;
  width: 100%;
  position: absolute;
  bottom: 0;
}
form .cd-footer .slider {
  width: 250px;
  height: 10px;
  background-color: #69bcba61;
}
form .cd-footer .slider .bar {
  min-width: 5px;
  height: 10px;
  background-color: #df8a0d;
}
form .cd-footer .btn {
  color: white;
  background-color: #df8a0d;
  margin: 10px 2px;
}
form .cd-footer .btn .glyphicon {
  font-size: 10px;
}
form .cd-footer .btn:active {
  border-style: solid;
}
form .cd-footer .btn:focus {
  outline: none;
}
/*
.cd-radio {
	display: flex;
	flex-direction: row;
	align-items: center;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;

	input[type="radio"] {
		display: none;
	}

	.radio-icon {
	    width: 50px;
	    height: 50px;
	    border-radius: 50%;
	    // background-color: white;
	    border: 3px solid white;
		flex-direction: row;
	    align-items: center;
	    justify-content: center;
	    div {
		    width: 40px;
		    height: 40px;
		    border-radius: 50%;
	    }
	    &.checked div {
			background-color: #1978c5;
	    }
	}
	label {
		margin-left: 10px;
		height: 20px;
	}
}
*/
.cd-survey-inputs {
  margin-top: 20px;
}
.cd-radio,
.cd-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Karla, sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0px 10px;
  padding-right: 20px;
  color: #df8a0d;
  background-color: #ffc1072b;
  box-shadow: #ff9800 0px 0px 0px 1px inset;
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;
  user-select: none;
}
.cd-radio input[type="radio"],
.cd-checkbox input[type="radio"],
.cd-radio input[type="checkbox"],
.cd-checkbox input[type="checkbox"] {
  display: none;
}
.cd-radio .cd-icon,
.cd-checkbox .cd-icon {
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 16px;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  color: #df8a0d;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  border-color: #ff9800;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 23px;
  margin: 8px;
}
.cd-radio label,
.cd-checkbox label {
  margin: 4px;
  font-weight: 400;
  line-height: 28px;
  flex-grow: 1;
  cursor: pointer;
}
.cd-radio label select,
.cd-checkbox label select {
  cursor: pointer;
  border-color: #ff9800;
}
.cd-radio label select:focus,
.cd-checkbox label select:focus {
  outline: none;
}
.cd-radio .svg-checked,
.cd-checkbox .svg-checked {
  opacity: 0;
  fill: #df8a0d;
  padding: 0px 5px;
  transition: fill 0.2s ease 0s;
}
.cd-radio:hover,
.cd-checkbox:hover {
  background-color: #ffc10770;
}
.cd-radio.checked,
.cd-checkbox.checked {
  box-shadow: #ff9800 0px 0px 0px 2px inset;
  -animation: blink 0.2s linear 2;
  -webkit-animation: blink 0.2s linear 2;
}
.cd-radio.checked .cd-icon,
.cd-checkbox.checked .cd-icon {
  background-color: #ff9800;
  color: white;
}
.cd-radio.checked .svg-checked,
.cd-checkbox.checked .svg-checked {
  opacity: 1;
}
.cd-validate {
  margin-top: 30px;
  margin-bottom: 30px;
}
.cd-validate .cd-right {
  float: right;
}
.cd-validate button {
  border-radius: 4px;
  padding: 10px 10px;
  color: white;
  background-color: #ff9800;
  border: none;
  font-weight: 700;
  box-shadow: none;
  outline: none;
}
.cd-validate button:hover {
  background-color: #ffc166;
}
.cd-validate button .svg-checked {
  opacity: 1;
  fill: white;
  padding: 0px 5px;
  transition: fill 0.2s ease 0s;
}
.cd-validate button:active {
  border: none;
}
.cd-validate button:focus {
  outline: none;
}
.cd-validate span.text {
  color: #3f3f3f;
  margin-left: 10px;
}
#cd-form-footer {
  margin-top: 20px;
}
.social-account-buttons {
  margin-top: 10vh;
}
.cd-flex {
  display: flex;
}
.cd-column {
  display: flex;
  flex-direction: column;
}
.cd-row {
  display: flex;
  flex-direction: row;
}
.cd-grow {
  flex-grow: 1;
}
.cd-center {
  align-items: center;
  justify-content: center;
}
.cd-justify-content-center {
  justify-content: center;
}
.cd-end {
  justify-content: flex-end;
}
.cd-light {
  font-weight: 300;
}
.cd-center-text {
  text-align: center;
}
