.glyphicon-refresh-animate {
  -animation: spin 1.25s infinite linear;
  -webkit-animation: spin 1.25s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
body {
  font-family: 'Mali', cursive;
  font-size: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.cd-container {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul.button-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0px;
}
ul.button-list li {
  width: 100%;
  background-color: black;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  display: flex;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
ul.button-list li a {
  width: 100%;
  text-decoration: none;
}
ul.button-list li a:hover,
ul.button-list li a:hover:visited {
  text-decoration: none;
  background-color: white;
  color: black;
}
ul.button-list li:hover {
  color: black;
  background-color: white;
}
ul.button-list li:hover a,
ul.button-list li:hover a:visited,
ul.button-list li:hover a:hover {
  color: black;
  background-color: white;
}
.cd-form {
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
}
.cd-form ul,
.cd-form li,
.cd-form input,
.cd-form button,
.cd-form span,
.cd-form div {
  width: 100%;
}
.cd-form ul.button-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0px;
}
.cd-form ul.button-list li {
  padding: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
.cd-form ul.button-list li a {
  text-decoration: none;
}
.cd-form ul.button-list li a:hover {
  text-decoration: none;
}
.cd-form ul.button-list li:hover {
  color: black;
}
.cd-form ul.button-list li:hover a div {
  color: black;
}
.cd-form .cd-or {
  width: 100%;
}
.cd-form .cd-or span {
  background-color: black;
  padding: 10px;
  width: auto;
  font-size: 24px;
}
.cd-form .cd-span {
  margin-top: 10px;
}
.cd-form .cd-span label,
.cd-form .cd-span span {
  background-color: black;
  padding: 10px;
  width: 100%;
}
.cd-form #cd-submit {
  border: 1px rgba(255, 255, 255, 0.5) solid;
  background-color: black;
  margin-left: 10px;
}
.cd-form #cd-submit .glyphicon-refresh {
  width: auto;
  margin: 10px;
  font-size: 20px;
  color: white;
}
.cd-form #cd-submit:hover,
.cd-form #cd-submit:active {
  background-color: white;
  color: black;
}
.cd-form #cd-submit:hover .glyphicon-refresh,
.cd-form #cd-submit:active .glyphicon-refresh {
  color: black;
}
.cd-form #cd-error {
  margin-top: -10px;
  margin-bottom: 10px;
}
.cd-form #cd-error.cd-hidden {
  display: none;
}
.cd-form .cd-input {
  border: none;
  color: white;
  font-size: 27px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: -10px;
}
.cd-form #cd-signup {
  margin-bottom: 10px;
}
.cd-form #cd-mask {
  max-width: 85px;
  margin-bottom: 0;
  margin-top: -10px;
}
.cd-form #cd-password-group {
  background-color: black;
  margin-bottom: 10px;
}
.cd-form #cd-password,
.cd-form #cd-new-password {
  font-size: 46px;
  text-align: center;
  margin-bottom: 0;
}
.cd-form button,
.cd-form ul > li,
.cd-form input {
  background-color: black;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  color: white;
}
.cd-form button a,
.cd-form ul > li a,
.cd-form input a,
.cd-form button a > div,
.cd-form ul > li a > div,
.cd-form input a > div {
  color: white;
}
.cd-form button a:hover,
.cd-form ul > li a:hover,
.cd-form input a:hover,
.cd-form button a > div:hover,
.cd-form ul > li a > div:hover,
.cd-form input a > div:hover {
  color: black;
}
.cd-form button:hover,
.cd-form ul > li:hover,
.cd-form input:hover {
  background-color: white;
  color: black;
}
.cd-hidden,
.cd-row.cd-hidden,
.cd-column.cd-hidden {
  display: none;
}
.form-signin {
  display: none;
}
.form-signin.cd-show {
  display: flex;
  flex-direction: column;
}
.form-signin input {
  background-color: black;
  border: 1px rgba(255, 255, 255, 0.5) solid;
}
.form-signin input[type=submit] {
  background-color: black;
  border: none;
}
form input {
  background-color: black;
}
form input[type=submit] {
  background-color: black;
  border: none;
}
.social-buttons li > a {
  padding: 10px;
}
body.allauth > div {
  max-width: 600px;
  margin: auto;
}
body.allauth > div input {
  background-color: #222222;
  border: solid 1px white;
  padding: 5px 10px;
}
.allauth {
  overflow-y: auto;
}
.allauth input {
  background-color: black;
}
.allauth button {
  border: 1px rgba(255, 255, 255, 0.5) solid;
  background-color: black;
  border-radius: 0;
  font-size: 30px;
}
.allauth button:active,
.allauth button:focus {
  outline-width: 1px;
  outline-color: white;
  outline-style: dotted;
}
.allauth button:hover {
  background-color: white;
  color: black;
}
.allauth input:active,
.allauth input:focus {
  outline-width: 1px;
  outline-color: white;
  outline-style: dotted;
}
.menu {
  display: none;
}
#id_remember {
  height: 20px;
}
.cd-form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  min-width: 320px;
}
.buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons .center {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons .center h1 {
  padding: 20px;
  color: #cbcbcb;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  background-color: black;
}
.buttons .center a {
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 5px 10px;
  font-family: 'Mali', cursive;
  font-size: 30px;
}
.buttons .center a:hover,
.buttons .center a:active,
.buttons .center a:visited {
  color: white;
  text-decoration: none;
}
.cd-flex {
  display: flex;
}
.cd-column {
  display: flex;
  flex-direction: column;
}
.cd-row {
  display: flex;
  flex-direction: row;
}
.cd-grow {
  flex-grow: 1;
}
.cd-center {
  align-items: center;
  justify-content: center;
}
.cd-justify-content-center {
  justify-content: center;
}
.cd-end {
  justify-content: flex-end;
}
