@form-color: black;
@button-color: black;
@button-border: 1px rgba(255, 255, 255, 0.5) solid;

.glyphicon-refresh-animate {
    -animation: spin 1.25s infinite linear;
    -webkit-animation: spin 1.25s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

body {
	font-family: "Amatic SC";
	font-size: 30px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}

.cd-container {
    z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

ul.button-list {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0px;
	li {
		width: 100%;
		background-color: black;
		border: 1px rgba(255, 255, 255, 0.5) solid;
    	display: flex;
		padding: 0;
		margin-bottom: 10px;
		cursor: pointer;
		a {
			width: 100%;
			text-decoration: none;
			&:hover, &:hover:visited {
				text-decoration: none;
				background-color: white;
				color: black;
			}
		}
		&:hover {
			color: black;
			background-color: white;
			a, a:visited, a:hover {
				color: black;
				background-color: white;
			}
		}
	}
}

.cd-form {
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-width: 300px;

	ul, li, input, button, span, div {
		width: 100%;	
	}

	ul.button-list {
		list-style-type: none;
		padding: 0;
		margin-bottom: 0px;
		li {
			padding: 0;
			margin-bottom: 10px;
			padding: 10px 20px;
			cursor: pointer;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
			&:hover {
				color: black;
				a div {
					color: black;
				}
			}
		}
	}

	.cd-or {
		width: 100%;
		span {
			background-color: black;
			padding: 10px;
			width: auto;
			font-size: 24px;
		}
	}

	.cd-span {
		margin-top: 10px;
		label, span {
			background-color: black;
			padding: 10px;
			width: 100%;
		}
	}
	
	#cd-submit {
		border: @button-border;
		background-color: @button-color;
		margin-left: 10px;
		.glyphicon-refresh {
			width: auto;
			margin: 10px;
			font-size: 20px;
			color: white;
		}
		&:hover, &:active {
			background-color: white;
			color: black;
			.glyphicon-refresh {
				color: black;
			}
		}
	}

	#cd-error {
		margin-top: -10px;
		margin-bottom: 10px;
		&.cd-hidden {
			display: none;
		}
	}

	.cd-input {
		border: none;
		color: white;
		font-size: 27px;
		padding: 10px;
		margin-bottom: 10px;
		margin-top: -10px;
	}

	#cd-signup {
		margin-bottom: 10px;
	}
	
	#cd-mask {
		max-width: 85px;
		margin-bottom: 0;
		margin-top: -10px;
	}
	#cd-password-group {
		background-color: black;
		margin-bottom: 10px;
	}
	#cd-password, #cd-new-password {
		font-size: 46px;
		text-align: center;

    	margin-bottom: 0;
	}

	button, ul > li, input {
		background-color: @button-color;
		border: @button-border;
		color: white;
		a, a > div {
			color: white;
			&:hover {
				color: black;
			}
		}
		&:hover {
			background-color: white;
			color: black;
		}
	}
	button.cd-button {
		// border: 0;
	}
}
.cd-hidden, .cd-row.cd-hidden, .cd-column.cd-hidden {
	display: none;
}

.form-signin {
    display: none;
    &.cd-show {
    	display: flex;
    	flex-direction: column;
    }
    input {
    	background-color: @button-color;
    	border: @button-border;
    }
    input[type=submit] {
    	background-color: @button-color;
    	border: none;
    }
}

form {
    input {
    	background-color: black;
    }
    input[type=submit] {
    	background-color: @button-color;
    	border: none;
    }
}
.social-buttons {
	li > a {
		padding: 10px;
	}
}
body.allauth > div {
	max-width: 600px;
	margin: auto;
	input {
		background-color: #222222;
		border: solid 1px white;
    	padding: 5px 10px;
	}
	p {
		// font-family: 'Open sans';
		// font-size: 14px;
	}
}

.allauth {
	overflow-y: auto;
	input {
		background-color: black;
	}
	button {
		border: @button-border;
		background-color: @button-color;
		// border: none;
		border-radius: 0;
		font-size: 30px;
		
		&:active, &:focus {
			outline-width: 1px;
			outline-color: white;
			outline-style: dotted;
		}
		&:hover {
			background-color: white;
			color: black;
		}
	}
	input {
		&:active, &:focus {
			outline-width: 1px;
			outline-color: white;
			outline-style: dotted;
		}
	}
}
.menu {
	display: none;
}

.form-signin-heading {
	// display: none;
}

#id_remember {
	height: 20px;
}

.cd-form {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px;
	min-width: 320px;
}

.buttons {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.center {
		background-color: rgba(0, 0, 0, 0.7);
    	padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		h1 {
			padding: 20px;
			color: #cbcbcb;
			border: 1px rgba(255, 255, 255, 0.5) solid;
			background-color: black;
		}
		a {
			// margin-top: 10px;
			color: white;
			text-decoration: none;
			background-color: black;
			padding: 5px 10px;
			font-family: 'Amatic SC';
			font-size: 30px;
			&:hover, &:active, &:visited {
				color: white;
				text-decoration: none;
			}
			// &.connect {
			// 	color: #03A9F4;
			// 	&:hover {
			// 		color: black;
			// 		background-color: white;
			// 	}
			// }
			// &.visit {
			// 	color: #FFC107;
			// 	&:hover {
			// 		color: black;
			// 		background-color: white;
			// 	}
			// }
		}
	}
}


.cd-flex {
	display: flex;
}

.cd-column {
	display: flex;
	flex-direction: column;
}
.cd-row {
	display: flex;
	flex-direction: row;
}

.cd-grow {
	flex-grow: 1;
}

.cd-center {
    align-items: center;
    justify-content: center;
}

.cd-justify-content-center {
	justify-content: center;
}

.cd-end {
	justify-content: flex-end;
}

