<!DOCTYPE html>

{% load static %}

{# --- allauth --- #}

{% load i18n %}
{% load account %}
{% load socialaccount %}

<html lang="en">
  <head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="{% static 'images/icons/logo32.png' %}"> -->
    <link rel="shortcut icon" href="{% static 'images/icons/icon.png' %}">

    <title>Comme Un Dessein</title>

    <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/welcome-styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

    <meta property="fb:app_id"          content="263330707483013" /> 
    <meta property="og:type"            content="article" /> 
    <meta property="og:url"             content="https://commeundessein.co/" /> 
    <meta property="og:title"           content="Comme un Dessein" /> 
    <meta property="og:description"     content="Comme un Dessein est un dispositif qui invite les citoyens à composer une œuvre collective et utopique, à l’aide d’une interface web connectée à un traceur vertical." /> 
    <meta property="og:image"           content="http://commeundessein.co/static/images/CommeUnDessein1200x630.png" />
    <meta property="og:image:width"     content="1200" />
    <meta property="og:image:height"    content="630" />

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
  </head>

  <body>
    <div class="cd-container">
      <img src="{% static 'images/CommeUnDessein.svg' %}">
    </div>
    <div class="buttons">
      <div class="center">
        <h1>Comme un Dessein</h1>

        <ul class="button-list cd-column editions" data-authenticated="{{ is_authenticated }}">
          <!-- <li><a href="/idlv/">IDLV (infini)</a></li> -->
          <li><a href="/tech-in-vitre/">Tech-in-Vitré</a></li>
          <li><a href='/festival-maintenant/'>Festival Maintenant</a></li>
          <!-- <li><a href="/demo/">Démonstration</a></li> -->
        </ul>

        
      </div>
    </div>
    <script src="{% static 'js/welcome.js' %}"></script>
  </body>
</html>