<!DOCTYPE html>

{% load static %}

{# --- allauth --- #}

{% load i18n %}
{% load account %}
{% load socialaccount %}

<html lang="en">
  <head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/icons/logo32.png' %}">

    <title>Comme Un Dessein</title>

    <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/welcome-styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

  </head>

  <body>
    <div class="cd-container">
      <img src="{% static 'images/CommeUnDessein.svg' %}">
    </div>
    <div class="buttons">
      <div class="center">
        <h1>Comme un Dessein</h1>

        <ul class="button-list cd-column">
          <li><a href='{% provider_login_url "google" %}'>Se connecter avec Google</a></li>
          <!-- <li><a href='{% provider_login_url "github" %}'><div>Github</div></a></li> -->
          <li><a href="/accounts/facebook/login/" class="fb">Se connecter avec Facebook</a></li>
          <li><a href="/connexion/" id="connectWithCommeUnDessein">Se connecter avec Comme un Dessein</a></li>
          <li><a class="visit" href="visite">Juste visiter</a></li>
        </ul>

        
      </div>
    </div>
  </body>
</html>