{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block head_title %}Se connecter{% endblock %}

{% block content %}

<h1 class="form-signin-heading">Se connecter</h1>


<form class="login form-signin cd-show" method="POST" action="{% url 'account_login' %}" role="form">

  {% csrf_token %}

  {{ form.as_p }}

  {% if redirect_field_value %}
  <input type="hidden" class="form-control" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Mot de passe oublié ?</a>
  <button class="btn btn-lg btn-primary primaryAction" type="submit">Se connecter</button>
  <p>ou se connecter avec un autre compte :</p>
	
	<ul class="button-list cd-column">
		<li><a href="{% provider_login_url "google" %}"><div>Google</div></a></li>
		<!-- <li><a href="{% provider_login_url "github" %}"><div>Github</div></a></li> -->
		<li><a href="/accounts/facebook/login/"><div class="fb">Facebook</div></a></li>
	</ul>

</form>


{% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}
