{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Créer un compte{% endblock %}

{% block content %}
<h1 class="form-signin-heading">Créer un compte</h1>

<form class="form-signin signup" id="signup_form" method="post" action="{% url 'account_signup' %}" role="form">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" class="form-control" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Créer un compte</button>
</form>


{% endblock %}
