{% extends "account/base.html" %}

{% load static %}

{% load i18n %}

{% load account %}
{% load socialaccount %}


{% block head_title %}Créer un compte{% endblock %}


{% block content %}




<div class="cd-container">
  <!-- <img src="{% static 'images/CommeUnDessein1024x724.png' %}"> -->
  <img src="{% static 'images/CommeUnDessein.svg' %}">
</div>

<div class="cd-form">

<!-- 
	<ul class="button-list cd-column">
		<li><a href='{% provider_login_url "google" %}'><div>Se connecter avec Google</div></a></li>
		<li><a href="/accounts/facebook/login/"><div class="fb">Se connecter avec Facebook</div></a></li>
		<li><a href="" id="connectWithCommeUnDessein">Se connecter avec Comme un Dessein</a></li>
	</ul>
-->

	<!-- <div class="cd-or cd-row cd-center cd-hidden"><span>ou</span></div> -->
	
	<div id="cd-title" class="cd-span cd-row"><span>Créer un compte ou se connecter</span></div>
	<div id="cd-label" class="cd-span cd-row"><span>Email ou nom d'utilisateur :</span></div>
	<input id="cd-email" class="cd-input" name="email" placeholder="example@domain.com" type="email">

	<input id="cd-username" class="cd-input cd-hidden" placeholder="Nom d'utilisateur" type="text">
	<div id="cd-password-group" class="cd-row cd-hidden">
		<button id="cd-mask" class="cd-button cd-secondary">Masquer</button>
		<input id="cd-password" class="cd-input" name="password" placeholder="Mot de passe" type="password">
	</div>
	<div id="cd-error" class="cd-span cd-row cd-hidden"><span></span></div>
	
	<div class="cd-row">
		<button id="cd-cancel" class="cd-button cd-secondary">Retour</button>
		<button id="cd-submit" class="cd-button cd-primary" type="submit"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate cd-hidden"></span>Valider</button>
	</div>
</div>

<!-- <h1 class="form-signin-heading cd-hidden">Créer un compte</h1> -->

<form class="form-signin signup" id="signup_form" method="post" action="{% url 'connection' %}" role="form">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" class="form-control" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button id="submit-signup" class="btn btn-lg btn-primary btn-block" type="submit">Créer un compte</button>
</form>


<form class="login form-signin" method="POST" action="{% url 'account_login' %}" role="form">

  {% csrf_token %}

	<p>ou se connecter avec Comme un Dessein :</p>

  {{ login_form.as_p }}

  {% if redirect_field_value %}
  <input type="hidden" class="form-control" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Mot de passe oublié ?</a>
  <button id="submit-signin" class="btn btn-lg btn-primary primaryAction" type="submit">Se connecter</button>
  
	

</form>


{% endblock %}
